# Handling missing data

## Import packages

In [1]:
import pandas as pd
import numpy as np

## Import dataset

In [2]:
df = pd.read_csv('./income.csv')

In [3]:
df.head()

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
0,45,Private,HS-grad,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,28,United-States,"less than or equal to 50,000"
1,24,Federal-gov,HS-grad,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,"less than or equal to 50,000"
2,44,Private,Some-college,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,"greater than 50,000"
3,27,Private,9th,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,Mexico,"less than or equal to 50,000"
4,20,Private,Some-college,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,"less than or equal to 50,000"

In [4]:
df.shape

(31978, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31978 entries, 0 to 31977
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            31978 non-null  int64
 1   JobType        31978 non-null  object
 2   EdType         31978 non-null  object
 3   maritalstatus  31978 non-null  object
 4   occupation     31978 non-null  object
 5   relationship   31978 non-null  object
 6   race           31978 non-null  object
 7   gender         31978 non-null  object
 8   capitalgain    31978 non-null  int64
 9   capitalloss    31978 non-null  int64
 10  hoursperweek   31978 non-null  int64
 11  nativecountry  31978 non-null  object
 12  SalStat        31978 non-null  object
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [6]:
df.isnull().sum()

age              0
JobType          0
EdType           0
maritalstatus    0
occupation       0
relationship     0
race             0
gender           0
capitalgain      0
capitalloss      0
hoursperweek     0
nativecountry    0
SalStat          0
dtype: int64

## there are no nan values but there might be some missing data for example '?' or 'NA'

In [7]:
for column in df.columns:
    print(column)
    print(np.unique(df[column]))

age
[17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40
 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64
 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88
 90]
JobType
[' ?' ' Federal-gov' ' Local-gov' ' Never-worked' ' Private'
 ' Self-emp-inc' ' Self-emp-not-inc' ' State-gov' ' Without-pay']
EdType
[' 10th' ' 11th' ' 12th' ' 1st-4th' ' 5th-6th' ' 7th-8th' ' 9th'
 ' Assoc-acdm' ' Assoc-voc' ' Bachelors' ' Doctorate' ' HS-grad'
 ' Masters' ' Preschool' ' Prof-school' ' Some-college']
maritalstatus
[' Divorced' ' Married-AF-spouse' ' Married-civ-spouse'
 ' Married-spouse-absent' ' Never-married' ' Separated' ' Widowed']
occupation
[' ?' ' Adm-clerical' ' Armed-Forces' ' Craft-repair' ' Exec-managerial'
 ' Farming-fishing' ' Handlers-cleaners' ' Machine-op-inspct'
 ' Other-service' ' Priv-house-serv' ' Prof-specialty' ' Protective-serv'
 ' Sales' ' Tech-support' ' Transport-moving']
relationship
[' Husband' ' Not-in-family' ' Other-relative' ' Own-child' ' Unmarried'
 ' Wife']
race
[' Amer-Indian-Eskimo' ' Asian-Pac-Islander' ' Black' ' Other' ' White']
gender
[' Female' ' Male']
capitalgain
[    0   114   401   594   914   991  1055  1086  1111  1151  1173  1409
  1424  1455  1471  1506  1639  1797  1831  1848  2009  2036  2050  2062
  2105  2174  2176  2202  2228  2290  2329  2346  2354  2387  2407  2414
  2463  2538  2580  2597  2635  2653  2829  2885  2907  2936  2961  2964
  2977  2993  3103  3137  3273  3325  3411  3418  3432  3456  3464  3471
  3674  3781  3818  3887  3908  3942  4064  4101  4386  4416  4508  4650
  4687  4787  4865  4931  4934  5013  5060  5178  5455  5556  5721  6097
  6360  6418  6497  6514  6723  6767  6849  7298  7430  7443  7688  7896
  7978  8614  9386  9562 10520 10566 10605 11678 13550 14084 14344 15020
 15024 15831 18481 20051 22040 25124 25236 27828 34095 41310 99999]
capitalloss
[   0  155  213  323  419  625  653  810  880  974 1092 1138 1258 1340
 1380 1408 1411 1485 1504 1539 1564 1573 1579 1590 1594 1602 1617 1628
 1648 1651 1668 1669 1672 1719 1721 1726 1735 1740 1741 1755 1762 1816
 1825 1844 1848 1876 1887 1902 1944 1974 1977 1980 2001 2002 2042 2051
 2057 2080 2129 2149 2163 2174 2179 2201 2205 2206 2231 2238 2246 2258
 2267 2282 2339 2352 2377 2392 2415 2444 2457 2467 2472 2489 2547 2559
 2603 2754 2824 3004 3683 3770 3900 4356]
hoursperweek
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 70 72 73 74
 75 76 77 78 80 81 82 84 85 86 87 88 89 90 91 92 94 95 96 97 98 99]
nativecountry
[' Cambodia' ' Canada' ' China' ' Columbia' ' Cuba' ' Dominican-Republic'
 ' Ecuador' ' El-Salvador' ' England' ' France' ' Germany' ' Greece'
 ' Guatemala' ' Haiti' ' Holand-Netherlands' ' Honduras' ' Hong'
 ' Hungary' ' India' ' Iran' ' Ireland' ' Italy' ' Jamaica' ' Japan'
 ' Laos' ' Mexico' ' Nicaragua' ' Outlying-US(Guam-USVI-etc)' ' Peru'
 ' Philippines' ' Poland' ' Portugal' ' Puerto-Rico' ' Scotland' ' South'
 ' Taiwan' ' Thailand' ' Trinadad&Tobago' ' United-States' ' Vietnam'
 ' Yugoslavia']
SalStat
[' greater than 50,000' ' less than or equal to 50,000']

In [8]:
print('Number of missing values in JobType col: ')
(df['JobType']==' ?').sum()

Number of missing values in JobType col:

1809

In [9]:
print('Number of missing values in occupation col: ')
(df['occupation']==' ?').sum()

Number of missing values in occupation col:

1816

## the columns 'JobType' and 'occupation' have some missing values represented as ' ?'. We will replace them by the mode values

In [10]:
df['JobType'].replace(' ?',df['JobType'].mode()[0], inplace = True)
df['occupation'].replace(' ?',df['occupation'].mode()[0], inplace = True)

In [11]:
np.unique(df['JobType'])

array([' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype=object)

In [12]:
np.unique(df['occupation'])

array([' Adm-clerical', ' Armed-Forces', ' Craft-repair',
       ' Exec-managerial', ' Farming-fishing', ' Handlers-cleaners',
       ' Machine-op-inspct', ' Other-service', ' Priv-house-serv',
       ' Prof-specialty', ' Protective-serv', ' Sales', ' Tech-support',
       ' Transport-moving'], dtype=object)

## Now there are no missing values