In [1]:
def euclidean(a: list, b:list):
    ans = 0
    for i in range(len(a)):
        ans = ans + (a[i]-b[i])**2
    return ans**0.5

def mean_val(lst: list):
    m = []
    l = len(lst)
    for i in range(len(lst[0])):
        s = 0
        for val in lst:
            s += val[i]
        m.append(s/l)
    return m  

def error(mean: list, points: list):
    err = 0
    for i in range(len(points)):
        err += euclidean(mean, points[i])
    return err**0.5

In [2]:
def k_means(data, k, means):
    temp = means.copy()

    clusters = {}

    while(True):
        for i in range(k):
            clusters[i] = []
        for point in data:
            min_dist = 99999
            index = 0
            for i,mean in enumerate(means):
                dist = euclidean(point, mean)
                if(dist<min_dist):
                    min_dist = dist
                    index = i

            clusters[index].append(point)

        for i in range(k):
            means[i] = mean_val(clusters[i])

        if(means==temp):
            break
        else:
            temp = means.copy()
        
    print('Clusters: ',clusters)
    print('\nMeans: ',means)
    abs_err = 0
    for i in range(k):
        abs_err += error(means[i], clusters[i])
    
    print('\nAbsoluter error: ',abs_err)

In [3]:
k_means([[2],[3],[10],[4],[12],[11],[20],[30],[25]], 2, [[3],[5]])

Clusters:  {0: [[2], [3], [10], [4], [12], [11]], 1: [[20], [30], [25]]}

Means:  [[7.0], [25.0]]

Absoluter error:  8.061257145734736

In [4]:
k_means([[2],[3],[10],[4],[12],[11],[20],[30],[25]], 3, [[3],[5],[20]])

Clusters:  {0: [[2], [3], [4]], 1: [[10], [12], [11]], 2: [[20], [30], [25]]}

Means:  [[3.0], [11.0], [25.0]]

Absoluter error:  5.99070478491457

In [5]:
k_means([[2,3],[4,5],[3,4],[9,7],[8,5],[8,7]],2,[[2,4],[7,7]])

Clusters:  {0: [[2, 3], [4, 5], [3, 4]], 1: [[9, 7], [8, 5], [8, 7]]}

Means:  [[3.0, 4.0], [8.333333333333334, 6.333333333333333]]

Absoluter error:  3.431802423611006

In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('./datasets/Tips.csv')

In [22]:
df1 = data.loc[:, ['TotalBill', 'Tips', 'Time']]

In [23]:
print(df1)

    TotalBill  Tips    Time
0       16.99  1.01  Dinner
1       10.34  1.66  Dinner
2       21.01  3.50  Dinner
3       23.68  3.31  Dinner
4       24.59  3.61  Dinner
..        ...   ...     ...
95      40.17  4.73  Dinner
96      27.28  4.00  Dinner
97      12.03  1.50  Dinner
98      21.01  3.00  Dinner
99      25.10   NaN   Lunch

[100 rows x 3 columns]

In [24]:
data1 = pd.read_csv('./datasets/Tips1.csv')

In [29]:
data2 = pd.merge(data, data1, how='left')

In [30]:
data2.head()

   SINO  TotalBill  Tips Smoker  Day    Time  Size  Gender
0     1      16.99  1.01     No  Sun  Dinner   2.0  Female
1     2      10.34  1.66     No  Sun  Dinner   3.0    Male
2     3      21.01  3.50     No  Sun  Dinner   3.0    Male
3     4      23.68  3.31     No  Sun  Dinner   2.0    Male
4     5      24.59  3.61     No  Sun  Dinner   4.0  Female

In [44]:
data3.groupby(['Day', 'Tips']).aggregate(sum)

           SINO  TotalBill  Size
Day  Tips
Fri  1.00    93       5.75   2.0
     1.50    98      12.03   2.0
     3.00   190      49.98   4.0
     3.25    95      22.75   2.0
     3.50    92      22.49   2.0
...         ...        ...   ...
Thur 3.40    82      16.66   2.0
     4.00   166      45.48   6.0
     5.00    84      32.68   2.0
     5.17    86      34.83   4.0
     5.85    89      24.71   2.0

[78 rows x 3 columns]

In [43]:
print(data3)

    SINO  TotalBill  Tips Smoker  Day    Time  Size  Gender
0      1      16.99  1.01     No  Sun  Dinner   2.0  Female
1      2      10.34  1.66     No  Sun  Dinner   3.0    Male
2      3      21.01  3.50     No  Sun  Dinner   3.0    Male
3      4      23.68  3.31     No  Sun  Dinner   2.0    Male
4      5      24.59  3.61     No  Sun  Dinner   4.0  Female
..   ...        ...   ...    ...  ...     ...   ...     ...
95    96      40.17  4.73    Yes  Fri  Dinner   4.0    Male
96    97      27.28  4.00    Yes  Fri  Dinner   2.0    Male
97    98      12.03  1.50    Yes  Fri  Dinner   2.0    Male
98    99      21.01  3.00    Yes  Fri  Dinner   2.0    Male
99   100      25.10   NaN     No  NaN   Lunch   2.0     NaN

[100 rows x 8 columns]

In [36]:
data3.pivot_table('Time', index='Gender', columns=data3.Time.values, aggfunc=len)

        Dinner  Lunch
Gender
Female      24      2
Male        56     11